@import '../variables.scss';

.categories {
  @media (max-width:786px) {
    & {
      display: inline-block;
      overflow: scroll;
      width: 500px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    display: flex;

    @media (max-width:1302px) {
      & {
        margin-left: 130px;
        justify-content: center;
      }
    }

    @media (max-width:1175px) {
      & {
        margin-left: 50px;
        justify-content: center;
      }
    }


    @media (max-width:1175px) {
      & {
        margin-left: 25px;
        justify-content: center;
      }
    }

    @media (max-width:786px) {
      & {
        display: inline-block;
        overflow: scroll;
        flex-wrap: nowrap;
        width: 850px;
      }
    }


    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }

      @media (max-width:786px) {
        & {
          display: inline-block;
        }
      }
    }
  }
}